services:
  devjobs:
    image: devjobs
    build: .
    command: >
      sh -c "python manage.py migrate --noinput &&
             python manage.py loaddata core/fixtures/dummy_data.json &&
             python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - .:/code
