{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'jobs/login.css' %}">
{% endblock %}

{% block content %}
  <div class="login">
    <div class="login__container">
      <h1 class="login__title">Login</h1>

      <form class="login__form" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next|default_if_none:'' }}">

        {% if form.non_field_errors %}
          <output class="login__errors">
            {{ form.non_field_errors }}
          </output>
        {% endif %}

        <fieldset class="login__field">
          <label class="login__label" for="{{ form.email.id_for_label }}">Email Address</label>
          <span class="login__input-wrapper">
            <img class="login__icon" src="{% static 'icons/icon-mail.svg' %}" alt="">
            <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="example@email.com" required>
          </span>
          {% if form.email.errors %}
            <span class="login__field-errors">
              {{ form.email.errors }}
            </span>
          {% endif %}
        </fieldset>

        <fieldset class="login__field">
          <label class="login__label" for="{{ form.password.id_for_label }}">Password</label>
          <span class="login__input-wrapper">
            <img class="login__icon" src="{% static 'icons/icon-lock.svg' %}" alt="">
            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Enter your password" required>
          </span>
          {% if form.password.errors %}
            <span class="login__field-errors">
              {{ form.password.errors }}
            </span>
          {% endif %}
        </fieldset>

        <button class="login__button" type="submit">Login</button>

        <p class="login__register">
          Don't have an account? 
          <a class="login__register-link" href="{% url 'accounts:register' %}">Register now</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
