* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Style Color*/

  /* Neutral Black and White */
  --neutral-950: #000000;
  --neutral-0: #ffffff;

  /* Slate */
  --slate-950: #121721;
  --slate-900: #19202d;
  --slate-500: #6e8098;
  --slate-300: #9daec2;
  --slate-100: #f4f6f8;
  --slate-25: #f4f6f8;
  --slate-50: #e0e4f2;

  /* Indigo */
  --indigo-500: #5964e0;
  --indigo-300: #939bf4;

  /* Typography */
  --text-preset-1: bold 28px/125% 'Kumbh Sans', sans-serif;
  --text-preset-2: bold 24px/125% 'Kumbh Sans', sans-serif;
  --text-preset-3: bold 20px/125% 'Kumbh Sans', sans-serif;
  --text-preset-4-bold: bold 16px/125% 'Kumbh Sans', sans-serif;
  --text-preset-4-regular: normal 16px/162.5% 'Kumbh Sans', sans-serif;
  --text-preset-5: bold 14px/120% 'Kumbh Sans', sans-serif;

  /* Spacing */
  --spacing-0: 0;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-375: 30px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-550: 44px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-1000: 80px;

  /* Radius */

  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-40: 40px;
  --radius-100: 100px;
}

[data-theme='dark'] {
  --slate-100: var(--slate-950);

  --neutral-0: var(--slate-900);
}

html {
  height: 100vh;
}

body {
  background: var(--slate-100);
  display: flex;
  flex-direction: column;
  align-content: space-around;
  min-height: 100%;
}

.site-header {
  background-image: url('../img/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: var(--spacing-300) 0;
  height: 120px;
  border-bottom-left-radius: var(--radius-100);
  overflow: hidden;
  width: 100%;
}

.site-header__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.site-header__logo {
  font: var(--text-preset-1);
  color: var(--neutral-0);
  text-decoration: none;
}

.site-header__toggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.icon {
  width: 18px;
  height: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--neutral-0);
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--indigo-500);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--neutral-0);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Filter section */

.search-form {
  background: var(--neutral-0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-6);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  padding: var(--spacing-150);
  margin-top: -32px;
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.search-form__field {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  flex: 1;
  padding: 0 var(--spacing-200);
  border-right: 1px solid var(--slate-100);
}

.search-form__field:last-of-type {
  border-right: none;
}

.search-form__field img {
  width: 20px;
  height: 20px;
}

.search-form__field input {
  border: none;
  outline: none;
  font: var(--text-preset-4-regular);
  color: var(--slate-900);
  width: 100%;
}

.search-form__field input::placeholder {
  color: var(--slate-300);
}

.search-form__checkbox {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  padding: 0 var(--spacing-200);
  font: var(--text-preset-4-bold);
  color: var(--slate-900);
  white-space: nowrap;
}

.search-form__button {
  background: var(--indigo-500);
  color: var(--neutral-0);
  font: var(--text-preset-4-bold);
  border: none;
  border-radius: var(--radius-6);
  padding: var(--spacing-125) var(--spacing-300);
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-form__button:hover {
  background: var(--indigo-300);
}

input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--slate-300);
  border-radius: var(--radius-4);
  background-color: var(--neutral-0);
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox']:hover {
  border-color: var(--indigo-500);
}

input[type='checkbox']:checked {
  background-color: var(--indigo-500);
  border-color: var(--indigo-500);
}

input[type='checkbox']:checked::after {
  content: '✔';
  color: var(--neutral-0);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

/* Grid*/
.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: var(--spacing-400);
  row-gap: var(--spacing-700);
  list-style: none;
  padding: 0;
  margin: var(--spacing-500) auto;
  width: 80%;
  margin-top: var(--spacing-1000);
  max-width: 1200px;
}

.job-card {
  background: var(--neutral-0);
  border-radius: var(--radius-6);
  padding: 50px 25px 15px 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-075);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative;
  max-height: 250px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-overflow: ellipsis;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.job-card__logo {
  position: absolute;
  top: -25px;
  left: var(--spacing-300);
  width: 50px;
  height: 50px;
  border-radius: var(--radius-12);
  overflow: hidden;
}

.job-card__logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.job-card__time {
  font: var(--text-preset-5);
  color: var(--slate-500);
}

.job-card__tittle {
  font: var(--text-preset-3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job-card__tittle a {
  color: var(--slate-900);
  text-decoration: none;
}

.job-card__tittle a:hover {
  color: var(--indigo-500);
}

.job-card__company {
  font: var(--text-preset-4-regular);
  color: var(--slate-500);
  margin-bottom: var(--spacing-300);
}

.job-card__location {
  font: var(--text-preset-4-bold);
  color: var(--indigo-500);
}

.button-mobile,
.search__form--filter {
  display: none;
}

/* Second page design---------------------------- */

.job-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: fit-content;
  margin: 0 auto;
  row-gap: var(--spacing-400);
}

.job-header {
  display: flex;
  align-items: center;
  background: var(--neutral-0);
  border-radius: 0 var(--radius-6) var(--radius-6) var(--radius-6);
  margin-top: -32px;
  overflow: hidden;
  height: 120px;
  width: 100%;
}

.job-header__logo {
  width: 120px;
  height: 120px;
}

.job-header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.job-header__info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  row-gap: 5px;
}

.job-header__company {
  font: var(--text-preset-2);
  color: var(--slate-900);
  width: 85%;
}

.job-header__website {
  font: var(--text-preset-4-regular);
  color: var(--slate-500);
  width: 85%;
}

.job-header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.btn-company-site {
  background: var(--slate-25);
  color: var(--indigo-500);
  font: var(--text-preset-4-bold);
  text-decoration: none;
  padding: var(--spacing-125) var(--spacing-200);
  border-radius: var(--radius-6);
}

.btn-company-site:hover {
  background: var(--slate-50);
}

.job-body {
  background: var(--neutral-0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  min-height: 500px;
  border-radius: var(--radius-6);
  flex: 1;
  overflow: hidden;
  margin-bottom: 2rem;
}

.job-body__description {
  padding: 1em 2em;
  height: 100%;
  text-decoration: none;
  list-style-position: inside;
  line-height: 1.6;
  flex: 1;
}

.job-body__description {
  font: var(--text-preset-4-regular);
  color: var(--slate-500);
}

.job-body__description h1,
h2 {
  font: var(--text-preset-3);
  color: var(--slate-900);
  margin-top: 1.5em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.job-body__description ol,
ul {
  margin: 2em 0;
  font: var(--text-preset-4-regular);
  color: var(--slate-500);
}

.job-body__description li::marker {
  color: var(--indigo-500);
}

.job-body__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-400);
  width: 100%;
  height: 140px;
}

.job-body__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.job-body__meta {
  font: var(--text-preset-4-regular);
  color: var(--slate-500);
}

.job-body__tittle {
  font: var(--text-preset-1);
  color: var(--slate-900);
}

.job-body__location {
  font: var(--text-preset-5);
  color: var(--indigo-500);
}

.btn-apply {
  background: var(--indigo-500);
  color: var(--neutral-0);
  font: var(--text-preset-5);
  text-decoration: none;
  padding: var(--spacing-150) var(--spacing-400);
  border-radius: var(--radius-6);
  white-space: nowrap;
}

.btn-apply:hover {
  background-color: var(--indigo-300);
}

.job-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--spacing-700);
  margin-bottom: var(--spacing-550);
  height: var(--spacing-600);
}

.job-admin a {
  background: var(--slate-50);
  color: var(--indigo-300);
  font: var(--text-preset-4-bold);
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 6px;
}

.job-admin a:hover {
  background: var(--slate-25);
}

.job-footer {
  background: var(--neutral-0);
  margin-top: auto;
  width: 100%;
}

.job-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--spacing-400);
  width: 60%;
  margin: 0 auto;
}

.job-footer__title {
  font: var(--text-preset-3);
  color: var(--slate-900);
}

.job-footer__company {
  font: var(--text-preset-4-regular);
  color: var(--slate-500);
}

.form-load {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-load {
  background-color: var(--indigo-500);
  color: var(--neutral-0);
  font: var(--text-preset-4-bold);
  border: none;
  border-radius: var(--radius-6);
  padding: var(--spacing-150) var(--spacing-400);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: var(--spacing-500) 0;
}

.btn-load:hover {
  background-color: var(--indigo-300);
}

@media (max-width: 900px) {
  .job-detail {
    width: 90%;
  }

  .job-footer__container {
    width: 100%;
  }
}

@media (max-width: 728px) {
  .site-header {
    border-bottom-left-radius: var(--radius-0);
  }

  .search-form,
  .site-header__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .job-list {
    width: 90%;
  }

  .icon-desktop,
  .button-desktop,
  .search-form__checkbox,
  .search-form__field--location {
    display: none;
  }

  .search-form__field--title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 65%;
    padding: 0 var(--spacing-150);
  }

  .button-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--indigo-500);
    border: none;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .button-mobile img {
    width: 20px;
    height: 20px;
    color: var(--neutral-0);
  }

  .search__form--filter {
    display: block;
    width: 20px;
    height: 20px;
  }

  .job-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    row-gap: var(--spacing-400);
  }

  .job-footer__info {
    display: none;
  }

  .btn-apply {
    width: 100%;
    text-align: center;
  }

  .job-body__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-400);
    width: 100%;
    height: auto;
    gap: 2.5rem;
  }

  .job-body__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: var(--spacing-100);
  }

  .job-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--neutral-0);
    border-radius: var(--radius-6);
    margin-top: -15px;
    height: auto;
    width: 100%;
    overflow: visible;
    padding: 2.5rem;
    gap: 1rem;
  }

  .job-header__info {
    text-align: center;
  }

  .job-header__logo {
    position: absolute;
    border-radius: var(--radius-16);
    top: -25px;
    width: 50px;
    height: 50px;
    overflow: visible;
  }

  .job-header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-16);
  }

  .job-body__tittle {
    font: var(--text-preset-3);
  }
}
