{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__container">
        <a href="/" class="site-header__logo">devjobs</a>
        <div class="site-header__toggle">
          <img src="{% static 'icons/icon-sun.svg' %}" alt="Light Mode" class="icon">

          <label class="switch">
            <input type="checkbox" id="theme-toggles">
            <span class="slider round"></span>
          </label>

          <img src="{% static 'icons/icon-moon.svg' %}" alt="Dark Mode" class="icon">

        </div>
      </div>
    </header>
        
    {% block content %}{% endblock %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if debug %}
        <script src="{% url 'django_browser_reload:reload' %}"></script>
    {% endif %}
    <script src="{% static 'core/js/dark-mode.js' %}"></script>
  </body>
</html>
