{% extends "base.html" %}
{% block title %}Job Offers{% endblock %}
{% load static %} /*Lo puse temporalmente para cargar los logos*/
{% block content %}
<main>
  {% include "_job_filters.html" %}
  
  <ul class="job-list">
    {% for job in jobs %}
    <li class="job-card">
      <!-- Codigo LOGO temporal -->
      <div class="job-card_logo">
        <img src="{% static 'img/Cocacola.svg' %}" alt="{{ job.company.name}} logo">
      </div>

      <p class="job-card__meta">
        {{ job.created_at|timesince }} ago • {{ job.get_employment_type_display }}
      </p>

      <h2 class="job-card__tittle">
        <a href="{% url 'job_detail' job.pk %}">{{ job.title }}</a>
      </h2>

      <p class="job-card__company"> {{ job.company.name }}</p>

      <!-- Se elimina para mostrarlo tal cual el diseño -->
      <!-- <p><strong>Type:</strong> {{ job.get_employment_type_display }}</p> -->

      <p class="job-card__location">{{ job.location }}</p>

      <!-- Se elimina por que no esta en el diseño-->  
      <!-- <p><strong>Posted:</strong> {{ job.created_at|date:"Y-m-d" }}</p> -->
       
    </li>
    {% empty %}
    <li>No job offers available.</li>
    {% endfor %}
  </ul>

  {% if has_next %}
    <form method="get">
      {% for key, value in request.GET.items %}
        {% if key != 'page' %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
      {% endfor %}
      <input type="hidden" name="page" value="{{ page|add:1 }}">
      <button type="submit">Load more</button>
    </form>
  {% endif %}
</main>
{% endblock %}
