{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'jobs/variables.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'jobs/styles.css' %}" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__container">
        <a href="/" class="site-header__logo">devjobs</a>
        <div class="site-header__actions">
          <div class="site-header__auth">
            {% if user.is_authenticated %}
              <div class="user-dropdown">
                <button class="user-dropdown__trigger" id="userDropdownBtn" aria-expanded="false" aria-haspopup="true">
                  <div class="user-info">
                    {% if profile.avatar %}
                      <img src="{{ profile.avatar }}" alt="Avatar"">
                    {% else %}
                      <img src="{% static 'img/avatar_default.svg' %}" alt="Default avatar"">
                    {% endif %}
                    <span class="auth-greeting">Hello, {{ user.username }}!</span>
                  </div>
                  <img src="{% static 'icons/icon-arrow.svg' %}" alt="Toggle menu" class="dropdown-arrow">
                </button>

                <div class="user-dropdown__menu" id="userDropdownMenu">
                  {% if request.path != '/profile/' and request.path != '/profile/edit/' %}
                    <a href="{% url 'accounts:profile_detail' %}" class="dropdown-item">
                      <span>Profile</span>
                    </a>
                  {% endif %}
                  
                  <a href="{% url 'accounts:logout' %}" class="dropdown-item">
                    <span>Logout</span>
                  </a>

                  <div class="dropdown-item dropdown-item--toggle">
                    <span>Dark mode</span>
                    <div class="toggle-wrapper">
                      <label class="switch">
                        <input type="checkbox" id="theme-toggles">
                        <span class="slider"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="site-header__toggle">
                <label class="switch">
                  <input type="checkbox" id="theme-toggles">
                  <span class="slider"></span>
                </label>
              </div>
              <a href="{% url 'accounts:login' %}" class="btn btn-secondary">Login</a>
              <a href="{% url 'accounts:register' %}" class="btn btn-primary">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
        
    {% block content %}{% endblock %}

    {% if debug %}
        <script src="{% url 'django_browser_reload:reload' %}"></script>
    {% endif %}
    <script src="{% static 'jobs/js/dark-mode.js' %}"></script>
    <script src="{% static 'jobs/js/dropdown.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
          {% for message in messages %}
            Toastify({
              text: "{{ message|escapejs }}",
              duration: 2000,
              gravity: "top",
              position: "right",
              backgroundColor: (function(){
                switch ("{{ message.tags }}") {
                  case "success":
                    return "linear-gradient(to right, #00b09b, #96c93d)";
                  case "error":
                    return "linear-gradient(to right, #e52d27, #b31217)";
                  case "warning":
                    return "linear-gradient(to right, #F2994A, #F2C94C)";
                  default:
                    return "linear-gradient(to right, #2193b0, #6dd5ed)";
                }
              })(),
              stopOnFocus: true,
            }).showToast();
          {% endfor %}
        {% endif %}
      });
    </script>
  </body>
</html>