{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'jobs/styles.css' %}" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__container">
        <a href="/" class="site-header__logo">devjobs</a>
        
        <div class="site-header__actions">
          <!-- Theme Toggle -->
          <div class="site-header__toggle">
            <img src="{% static 'icons/icon-sun.svg' %}" alt="Light Mode" class="icon">
            <label class="switch">
              <input type="checkbox" id="theme-toggles">
              <span class="slider round"></span>
            </label>
            <img src="{% static 'icons/icon-moon.svg' %}" alt="Dark Mode" class="icon">
          </div>

          <!-- Auth Buttons -->
          <div class="site-header__auth">
            {% if user.is_authenticated %}
              <span class="auth-greeting">Hello, {{ user.username }}!</span>

              {% if request.path != '/profile/' and request.path != '/profile/edit/' %}
                <a href="{% url 'accounts:profile_detail' %}" class="btn btn-outline">Profile</a>
              {% endif %}

              <a href="{% url 'accounts:logout' %}" class="btn btn-outline">Logout</a>
            {% else %}
              <a href="{% url 'accounts:login' %}" class="btn btn-secondary">Login</a>
              <a href="{% url 'accounts:register' %}" class="btn btn-primary">Register</a>
            {% endif %}
          </div>

        </div>
      </div>
    </header>
        
    {% block content %}{% endblock %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if debug %}
        <script src="{% url 'django_browser_reload:reload' %}"></script>
    {% endif %}
    <script src="{% static 'jobs/js/dark-mode.js' %}"></script>
  </body>
</html>
