{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>{{ company.name }}</h1>

{% if job.company.logo %}
  <img src="{{ job.company.logo }}" alt="{{ job.company.name }}" width="50">
{% else %}
  <img src="{% static 'img/default.png' %}" alt="Default logo" width="50">
{% endif %}

  <p><strong>Description:</strong> {{ company.description }}</p>
  {% if company.website %}
    <p><strong>Website:</strong> <a href="{{ company.website }}" target="_blank">{{ company.website }}</a></p>
  {% endif %}

  <hr>

  <h2>Job Offers</h2>

  {% if job_offers %}
    <ul>
      {% for job in job_offers %}
        <li>
          <h3>{{ job.title }}</h3>
          <p>{{ job.location }} — {{ job.get_employment_type_display }}</p>
          <small>Posted on {{ job.created_at|date:"F j, Y" }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No job offers available for this company.</p>
  {% endif %}
{% endblock %}
