{% extends "base.html" %}
{% block title %}Job Offers{% endblock %}

{% load static %}
{% load time_filters %}

{% block content %}
<main>
  {% include "_job_filters.html" %}
  
  <ul class="job-list">
    {% for job in jobs %}
    <li class="job-card">
      <div class="job-card__logo"> 
        {% if job.company.logo %}
          <img src="{{ job.company.logo }}" alt="{{ job.company.name }}" width="50">
        {% else %}
          <img src="{% static 'img/default.png' %}" alt="Default logo" width="50">
        {% endif %}
      </div>
      <p class="job-card__time">
        {{ job.created_at|short_timesince }} • {{ job.get_employment_type_display }}
      </p>

      <h2 class="job-card__tittle">
        <a href="{% url 'jobs:job_detail' job.pk %}">{{ job.title }}</a>
      </h2>

      <p class="job-card__company"> {{ job.company.name }}</p>
      <p class="job-card__location">{{ job.location }}</p>

    </li>
    {% empty %}
    <li>No job offers available.</li>
    {% endfor %}
  </ul>

  {% if jobs.has_other_pages %}
    <div class="pagination">
      <div class="pagination__buttons">
        {% if jobs.has_previous %}
          <form class="pagination__form" method="get">
            {% for key, value in request.GET.items %}
              {% if key != 'page' %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
              {% endif %}
            {% endfor %}
            <input type="hidden" name="page" value="{{ jobs.previous_page_number }}">
            <button class="btn-back" type="submit">Previous</button>
          </form>
        {% endif %}

        {% if jobs.has_next %}
          <form class="pagination__form" method="get">
            {% for key, value in request.GET.items %}
              {% if key != 'page' %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
              {% endif %}
            {% endfor %}
            <input type="hidden" name="page" value="{{ jobs.next_page_number }}">
            <button class="btn-load" type="submit">Next</button>
          </form>
        {% endif %}
      </div>

      <span class="pagination__info">
        Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}
      </span>
    </div>
  {% endif %}

</main>
{% endblock %}
